
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


 <form asp-action="Delete" asp-controller="Account" method="post">
    @await Component.InvokeAsync("Account", new { viewType = "Detail", btnShow = true })

</form>
