
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@inject IViewLocalizer _localizer;
<form method="post" asp-action="Edit" asp-controller="Account" enctype="multipart/form-data">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">@_localizer["tablename"]</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">@_localizer["edit"]</a></li>
                                <li class="breadcrumb-item active">@_localizer["account"]</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Account", new { viewType = "Edit" })
        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

</form>