@using X.PagedList.Mvc.Core;
@using Microsoft.Extensions.Localization
@using Asp.netApp.Areas.Admin.Resources
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@inject IViewLocalizer _localizer;


<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">@_localizer["tablename"]</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">@_localizer["table"]</a></li>
                            <li class="breadcrumb-item active">@_localizer["account"]</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header" style="display:flex;justify-content: space-between">
                        <div class="col-3">  <a asp-action="Create" asp-controller="Account" class="btn btn-primary waves-effect waves-light">@_localizer["add"]</a></div>
                      
                        <div class="col-9">
                           @await Component.InvokeAsync("Account", new { viewType = "FormSearch"})
                        </div>
                        
                    </div>
                    <div class="card-body">
                       
                       @await Component.InvokeAsync("Account", new { viewType = "Default" })

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
