
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">
<!-- index-431:41-->
<head>
   
    @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partial/PartialLayout/_Css.cshtml")
    @await RenderSectionAsync("Styles", required: false)
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">

        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partial/PartialLayout/_Header.cshtml")

        <!-- removeNotificationModal -->
        <div id="removeNotificationModal" class="modal fade zoomIn" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="NotificationModalbtn-close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-2 text-center">
                            <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                            <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                <h4>Are you sure ?</h4>
                                <p class="text-muted mx-4 mb-0">Are you sure you want to remove this Notification ?</p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                            <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn w-sm btn-danger" id="delete-notification">Yes, Delete It!</button>
                        </div>
                    </div>

                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- ========== App Menu ========== -->
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partial/PartialLayout/_AppMenu.cshtml")
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <div class="main-content overflow-hidden">
         
            @RenderBody()

            @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partial/PartialLayout/_Footer.cshtml")
        </div>
        </<div>

     </div>

        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/Partial/PartialLayout/_Script.cshtml")
       
        @await RenderSectionAsync("Scripts", required: false)
</body>


<!-- Mirrored from themesbrand.com/velzon/html/material/advance-ui-animation.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Oct 2023 04:42:44 GMT -->
</html>