@*
    
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">


<!-- Mirrored from themesbrand.com/velzon/html/material/auth-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Oct 2023 04:42:17 GMT -->
<head>

    <meta charset="utf-8" />
    <title>403 Error | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/admin/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="/admin/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/admin/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/admin/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/admin/css/custom.min.css" rel="stylesheet" type="text/css" />


</head>

<body>

    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper py-5 d-flex justify-content-center align-items-center min-vh-100">

        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden p-0">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-xl-4 text-center">
                        <div class="error-500 position-relative">
                            <img src="/admin/images/error500.png" alt="" class="img-fluid error-500-img error-img" />
                            <h1 class="title text-muted">403</h1>
                        </div>
                        <div>
                            <h4>Forbidden!</h4>
                            <p class="text-muted w-75 mx-auto">You can not access the resources</p>
                            <a href="/" class="btn btn-success"><i class="mdi mdi-home me-1"></i>Back to home</a>
                        </div>
                    </div><!-- end col-->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth-page content -->
    </div>
    <!-- end auth-page-wrapper -->

</body>


<!-- Mirrored from themesbrand.com/velzon/html/material/auth-500.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Oct 2023 04:42:18 GMT -->
</html>