
@inject IViewLocalizer _localizer;

<form action="" method="get" style="display:flex;height: 36px">
   
    <div class="input-group">
        <input type="text" class="form-control" name="s" value="@ViewBag.s" placeholder="@_localizer["search"] ...">
        <button type="submit" class="btn btn-success waves-effect waves-light"><i class="las la-search"></i></button>
    </div>
</form>